@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Liter&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --color-primary-color: #002191;
    --color-secondary-color: #f8f8f8;
    --color-white: #ffffff;
    --color-accent-color: #ff5722;
    --color-accent-color2: #3498db;
    --color-accent-color3: #e74c3c;
    --color-accent-color4: #3e65e7;
    --color-accent-color5: #2b3149;
    --color-accent-color6: #b77767;
    --color-accent-color7: #fefaf1;
    --color-accent-color8: #2b55e5;
    --color-accent-color9: #d99134;
    --color-primary-gradient: linear-gradient(90deg, #002191, #14b8a6, #06b6d4); 
  }
}
